html, body {
  height:100%;
}
body {
  display:flex;
  align-items:center;
}

.bg {
    /* The image used */
    background-image: url(../images/bg.jpg);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn.outline {
	background: none;
	padding: 4px 8px;
}

.btn-primary.outline {
	border: 2px solid #0099cc;
	color: #0099cc;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: #33a6cc;
	border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: #007299;
	color: #007299;
	box-shadow: none;
}

.btn-danger.outline {
	border: 2px solid #0099cc;
	color: #0099cc;
}

.btn-danger.outline:hover, .btn-danger.outline:focus, .btn-danger.outline:active, .btn-danger.outline.active, .open > .dropdown-toggle.btn-danger {
	color: #33a6cc;
	border-color: #33a6cc;
}
.btn-danger.outline:active, .btn-danger.outline.active {
	border-color: #007299;
	color: #007299;
	box-shadow: none;
}